<div class="sticky-top">
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      [class.active]="!currentCategoryId"
      routerLink="/"
    >All Categories</a>
    <a
      *ngFor="let category of categories"
      routerLink="/"
      [queryParams]="{ categoryId: category._id }"
      class="list-group-item list-group-item-action"
      [class.active]="currentCategoryId && category._id == currentCategoryId"
      (click)="onChangeCategory()">
      {{ category.name }}
    </a>
  </div>
</div>
